/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./container.css');

/* Sections style */
.loader {
  display: none;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border: 5px solid #4e75ff;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  width: 371px;
  margin: 36px auto 32px auto;

  display: flex;
  justify-content: space-between;
}

.form label input {
  padding: 8px 16px;
  width: 272px;
  height: 40px;
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: border-color 250ms ease-in-out;
}

.form label input::placeholder {
  color: #808080;
}

.form label input:hover {
  border-color: #000;
}

.form label input:focus {
  border-color: #4e75ff;
}

.form button,
.js-btn {
  width: 91px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 250ms ease-in-out;
}

.form button:hover,
.form button:focus {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 156px;
}

.gallery-item {
  width: 360px;
  border: 1px solid #808080;
}

.img {
  height: 152px;
  width: 100%;
  object-fit: cover;
}

.img-stats-list {
  display: flex;
  justify-content: space-around;
  margin: 4px 0;
}

.img-stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-stats-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.img-stats {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

html {
  scroll-behavior: smooth;
}

.js-btn {
  display: none;
  margin: 32px auto 44px auto;
  min-width: 125px;
}
